$contact-color: #14274A;
$contact-marginTop: 10vh;
$font-familyText: Montserrat;
$font-familyTitle: Adobe;
$button-color: #E0B973;
$textColor:#ffffff;
$mainColor:white darkblue yellow;
$headerColor:#13274a;
