
$contact-marginTop: 10vh;

$font-familyText: "Montserrat-Regular", sans-serif;
$font-familyTextBold: "Montserrat-Bold", sans-serif;
$font-familyTitle: "Adobe";

$contact-color: #14274A;
$button-color: #E0B973;
$textColor:#ffffff;
$mainColor:white darkblue yellow;
$headerColor:#13274a;
