$contact-marginTop: 10vh;

$font-familyText: "Montserrat-Regular", sans-serif;
$font-familyTextBold: "Montserrat-Bold", sans-serif;
$font-familyTitle: "Adobe";

$contact-color: #14274a;
$button-color: #e0b973;
$textColor: #ffffff;
$headerColor: #13274a;
$textArea: #14274a5d;
