@import "_variables";
@import "_mixins";

@font-face {
  font-family: Adobe;
  src: url("/luxury_hotels/fonts/AGaramondPro-Bold.woff");
}

@font-face {
  font-family: Montserrat;
  src: url("/luxury_hotels/fonts/Montserrat-Regular.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

.btn {
  background-color: $button-color;
  color: $textColor;
  border-radius: 12px;
  border: none;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: end;
  align-items: center;
  margin-bottom: 150px;
}

.nav__list {
  display: grid;
  grid-auto-flow: column;
  gap: 100px;
}

.nav__list-item {
  font-size: 25px;
  color: $textColor;
}

.nav__list-item:hover {
  text-decoration: underline;
  color: $textColor;
}

//  HOME

// HEADER
.header__container-home {
  background-image: url("../images/img_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1080px;
}

.header__title {
  max-width: 40%;
  margin-bottom: 108px;
}

.header__title-main {
  display: grid;
  justify-items: start;
}

.header__title-firstLine {
  color: $textColor;
  font-size: 50px;
  font-family: $font-familyText;
}

.header__title-secondLine {
  color: $textColor;
  font-size: 154px;
  font-family: $font-familyTitle;
}

.header__title-thirdLine {
  color: $textColor;
  font-size: 50px;
  font-family: $font-familyTitle;
}

.header__title-descr {
  color: $textColor;
  font-size: 25px;
  font-family: $font-familyText;
}

.header__book-btn {
  margin-bottom: 80px;
  padding: 22px 34px 28px 34px;
  text-transform: uppercase;
  align-self: center;
  font-size: 25px;
  font-family: $font-familyText;
}

.header__book-btn-svg {
  margin-right: 16px;
}

.header__scroll {
  display: grid;
  justify-content: center;
}

.header__scroll-text {
  margin-bottom: 8px;
  color: $textColor;
  font-size: 25px;
  font-family: $font-familyText;
  font-weight: 700;
}

.header__scroll-img {
  width: 60px;
  height: 60px;
  margin-bottom: 38px;
}

.container span p {
  font-family: Montserrat;
  font-size: 36px;
  color: rgba(20, 39, 74, 1);
}

// FACILITIES

.header__container-facilities {
  background-image: url("../images/img_facilities.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1080px;
}

.container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 90%;
  grid-template-rows: max-content;
  text-align: center;
  font-family: $font-familyText;
}

.container h1,
h2 {
  font-family: $font-familyTitle;
}
.card {
  width: 100%;
}

// ROOMS
@import url(./fonts.css);

.rooms {
  display: grid;

  justify-content: space-evenly;
}

.first_room_header {
  $font-familyText: Montserrat;
  $font-familyTitle: Adobe;
  $font-familyTitle: Adobe;
  padding-top: 5%;
  text-align: center;
  color: rgba(20, 39, 74, 1);
  font-size: larger;
  padding: 0%;
  word-spacing: normal;
}

h1 {
  font-size: larger;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: xx-large;
}

.first_room {
  background-color: $mainColor;
}

h2 {
  border: 1px solid darkblue;
  height: 10vh;
  padding-top: 5%;
  color: aliceblue;
  font-size: 45px;
  letter-spacing: 3px;
  background-color: rgba(20, 39, 74, 1);
  text-align: center;
  $font-familyText: Montserrat;
}

.details_bar {
  display: grid;
  padding-top: 5%;
  $font-familyText: Montserrat;
  font-weight: 600;
}

.price_bar {
  display: grid;
  border: 0px;
  padding-bottom: 5%;
  font-size: 16px;
  font-weight: 600;
  justify-items: end;
}

.details_and_price {
  border: 1px solid darkblue;
}

.header__container-rooms {
  background-image: url("../images/img_rooms.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1080px;
}

// FOOTER

.footer {
  background-image: url(../images/Union.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: end;
  padding-top: 35px;
  min-height: 100%;
  width: 100%;
}
.container__footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  color: white;
  margin: 35px 35px 35px 35px;
}
.footer__section {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 40px 40px 40px 40px;
}
.social__img {
  margin-right: 25px;
  width: 15px;
}
.link {
  text-decoration: none;
  color: inherit;
}
.footer__section__title {
  font-family: Adobe;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-align: left;
  margin-bottom: 15px;
}
.footer__section__contacts {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
}
.footer__section__menu {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}
.footer__section__menu__li {
  padding-bottom: 17px;
}
.footer__section__social {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 31.18px;
  text-align: left;
}
.footer__section__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 10.5px;
  text-align: left;
}
.footer__section__form {
  display: flex;
  height: min-content;
  margin-top: -70px;
}
/* кнопка */
.footer__section__btn {
  display: inline-block;
  font-family: Montserrat;
  font-weight: 700;
  color: rgba(20, 39, 74, 1);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: rgba(224, 185, 115, 1);
  border: 1px solid rgba(224, 185, 115, 1);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
}
.footer__section__btn:hover {
  background-color: rgba (224, 185, 115, 1);
}
.footer__section__input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgba(20, 39, 74, 1);
  border: 1px solid rgba(224, 185, 115, 1);
}
