@import "_variables";
@import "_mixins";
@import "_fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}

html {
  font-family: $font-familyText;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-familyTitle;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

.btn {
  background-color: $button-color;
  color: $textColor;
  border-radius: 12px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: end;
  align-items: center;
  margin-bottom: 80px;
}

.nav__list {
  display: grid;
  grid-auto-flow: column;
  gap: 80px;
}

.nav__list-item {
  font-size: 25px;
  color: $textColor;
}

.nav__list-item:hover {
  text-decoration: underline;
  color: $textColor;
}

.header__container {
  height: 100vh;
  padding: 0 50px 0 50px;
  max-width: 100vw;
  display: grid;
  align-content: space-between;
}

.burger-menu {
  display: none;
}

.main__home-p {
  text-align: center;
  margin-top: 86px;
  margin-bottom: 93px;
  font-size: 36px;
  color: $headerColor;
}

.main__group {
  display: grid;
  grid-template-columns: 8vw 39vw 45vw 8vw;
  grid-template-rows: 54vh 100px 43vh;
}

.main__group-first {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: 50px;
}

.first-group__title {
  margin-left: 20px;
  letter-spacing: 2%;
  font-size: 60px;
  color: $headerColor;
}

.first-group__subtitle {
  display: grid;
  justify-items: start;
  margin-top: 25px;
  max-width: 542px;
  line-height: 40px;
  margin-left: 20px;
  font-size: 25px;
  color: $headerColor;
}

.main__home-button {
  width: 236px;
  height: 63px;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
  background-color: $button-color;
  color: $textColor;
  border: none;
  border-radius: 12px;
}

.main__group-second {
  grid-row: 3/4;
  grid-column: 2/3;
}

.second-group__title {
  display: grid;
  justify-content: start;
  max-width: 563px;
  margin-left: 20px;
  font-size: 60px;
  letter-spacing: 2%;
  color: $headerColor;
}

.second-group__subtitle {
  display: grid;
  justify-items: start;
  margin-top: 12px;
  max-width: 523px;
  line-height: 40px;
  margin-left: 20px;
  font-size: 25px;
  color: $headerColor;

}

.main__line-first {
  display: grid;
  justify-content: space-between;
}

.main__line-second {
  display: flex;
  justify-items: start;
}

.main__group-firstPhoto {
  display: grid;
  grid-row: 1/2;
  grid-column: 3/4;
}

.main__group-firstPhoto img {
  width: 100%;
}

.main__group-secondPhoto {
  display: grid;
  grid-row: 3/4;
  grid-column: 3/4;
}

.main__group-secondPhoto img {
  width: 100%;
}

.main__group-first::before,
.main__group-second::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
  min-width: 2px;
  background-color: $headerColor;
}

.main__group-first,
.main__group-second {
  position: relative;
}

.container__testimonials {
  margin-top: 150px;
}


.header__container-home {
  background-image: url("../images/img_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100vw;
}

.header__title {
  max-width: 50%;
  margin-bottom: 40px;
}

.header__title-main {
  display: grid;
  justify-items: start;
  margin-bottom: 20px;
  color: $textColor;
  line-height: 0.8;
}

.header__title-firstLine {
  margin-bottom: 10px;
  font-size: 50px;
}

.header__title-secondLine {
  margin: 0;
  font-size: 150px;
}

.header__title-thirdLine {
  font-size: 50px;
}

.header__title-descr {
  color: $textColor;
  font-size: 20px;
}

.header__book {
  display: grid;
  justify-content: center;
}

.header__book-btn {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 16px 20px 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: $font-familyTextBold;
}

.header__book-btn-svg {
  margin-right: 16px;
}

.header__scroll {
  display: grid;
  justify-content: center;
}

.header__scroll-text {
  margin-bottom: 8px;
  color: $textColor;
  font-size: 20px;
}

.header__scroll-img {
  width: 61px;
  height: 61px;
  margin-bottom: 38px;
}

.header__scroll-btn {
  background-color: transparent;
  border: none;
}

.header__scroll-btn:hover {
  cursor: pointer;
}

.header__container-facilities {
  background-image: url("../images/img_facilities.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1080px;
  max-width: 100vw;
  background-position: center;
}

.main__container-facilities {
  display: grid;
  justify-content: center;
  grid-template-columns: 90%;
  grid-template-rows: max-content;
  grid-row-gap: 50px;
  text-align: center;
}

.text__facilities {
  font-size: 1.5em;
  color: $headerColor;
}

.main__image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat (6, (10fr 1fr));
  grid-row-gap: 10px;
}

.image__card {
  grid-area: 1 / 1 / 3 / 4;
}

.image__label {
  grid-area: 2 / 2 / 3 / 3;
  background-color: $textColor;
  text-align: center;
  align-self: end;
  color: $headerColor;
  font-size: 2rem;
  font-weight: bold;
}

.image__facilities {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container__testimonials {
  display: grid;
  text-align: center;
  padding: 20px;
}

.text__testimonials {
  padding: 20px;
  line-height: 2;
  font-size: 1.5em;
  color: $headerColor;
}

.button__tesimonials {
  justify-content: center;
  background-color: transparent;
  border: 0;
}

.button__tesimonials:hover {
  transform: scale(1.2);
}

.main__container-rooms {
  display: grid;
  justify-content: center;
}

.first__room-header {
  padding-top: 5%;
  padding: 0%;
  padding-bottom: 5%;
  font-size: larger;
  text-align: center;
  word-spacing: normal;
  color: $headerColor;
}

.rooms__image {
  max-width: 100%;
  max-height: 100%;
}

.rooms__title {
  letter-spacing: 2px;
  font-size: larger;
  font-size: xx-large;
}

.singleroom__title {
  text-align: center;
  height: 10vh;
  padding-top: 5%;
  border: $headerColor;
  font-size: 45px;
  letter-spacing: 3px;
  color: $textColor;
  background-color: $headerColor;
}

.doubleroom__title {
  text-align: center;
  height: 10vh;
  padding-top: 5%;
  font-size: 45px;
  letter-spacing: 3px;
  border: 1px solid $headerColor;
  background-color: $headerColor;
  color: $textColor;
}

.twinroom__title {
  text-align: center;
  height: 10vh;
  padding-top: 5%;
  border: 1px solid $headerColor;
  background-color: $headerColor;
  font-size: 45px;
  letter-spacing: 3px;
  color:$textColor;

}

.rooms__round-button {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  border-color: transparent;
  background-color: transparent;
}

.rooms__price-button {
  padding: 3%;
  height: 180%;
  width: 150%;
  border: 0px;
  border-radius: 8px;
  background-color: $button-color;
  font-size: 20px;
  color: $textColor;
}

.rooms__price-bar {
  display: grid;
  padding-bottom: 5%;
  padding-left: 35%;
  border: 0px;
  font-size: 16px;

}

.rooms__details-view {
  padding-left: 5%;
  padding-top: 1%;
  color:$headerColor;
  font-family: $font-familyTextBold;
  font-size: 25px;
}

.rooms__details-price {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  padding: 5% 15px 0 15px;
  border: 1px solid $headerColor;
}

.header__container-rooms {
  background-image: url("../images/img_rooms.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1080px;

}

.footer {
  margin-top: 120px;
  height: 240px;
  background-size: cover;
  background-color: $headerColor;
}

.container__footer {
  display: grid;
  grid-template-columns: 32% repeat(2, 16%) 36%;
  padding: 40px 70px;
  justify-content: space-between;
  color: $textColor;
}

.footer__section {
  display: grid;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.footer__title-firstLine {
  text-align: left;
  font-size: 25px;
  line-height: 5px;
  letter-spacing: 0.15em;
}

.footer__title-secondLine {
  margin-left: 24px;
  margin-bottom: 30px;
  font-size: 10px;
  line-height: 5px;
  letter-spacing: 0.6em;
}

.footer__contacts {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.footer__menu {
  text-align: left;
  font-size: 16px;
  line-height: 40px;
}

.footer__social {
  text-align: left;
  font-size: 16px;
  line-height: 36px;
}

.footer__social-img {
  margin-right: 25px;
  width: 15px;
}

.footer__section:nth-child(2) {
  justify-content: start;
}

.footer__section:nth-child(3) {
  justify-content: center;
}

.footer__section:last-child {
  justify-content: end;
}

.footer__section-text {
  margin-bottom: 80px;
  text-align: left;
  font-size: 16px;
  line-height: 32px;
}

.footer__section-form {
  display: flex;
  margin-top: -50px;
  height: 40px;
  width: 320px;
}

.footer__section-btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  text-align: center;
  border: 1px solid $button-color;
  border-radius: 0.25rem;
  background-color: $button-color;
  color: $contact-color;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color 0.15s ease-in-out;
}

.footer__section-btn:hover {
  background-color: $textColor;
}

.footer__section-input {
  position: relative;
  width: 240px;
  border: 2px solid $button-color;
  border-radius: 3px;
  background-color: $headerColor;
  color: $textColor;
}

.contact {
  display: grid;
  grid-template-columns: 10vw repeat(2, 1fr) 10vw;
  grid-template-rows: 30vh 70vh;
  width: 98vw;
  color: $contact-color;
}

.contact__description {
  grid-row: 1/2;
  grid-column: 2/4;
  align-content: end;
}

.contact__description-title {
  margin-bottom: 0;
  border: 0;
  text-align: start;
  background-color: $textColor;
  color: $contact-color;
  font-size: 50px;
}

.contact__description-text {
  margin-top: 0;
  font-size: 20px;
}

.contact__our {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 30vw;
  margin-top: $contact-marginTop;
  font-size: 30px;
}

.contact__our-map {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $font-familyTextBold;
}

.contact__our-map img {
  width: 50px;
}

.contact__form {
  grid-row: 2/3;
  grid-column: 3/4;
  width: 35vw;
  justify-self: end;
  margin-top: $contact-marginTop;
  font-size: 15px;
}

.contact__form-email {
  margin-top: 13px;
}

.contact__form-massege {
  margin-top: 13px;
}

.contact__form-button {
  display: grid;
  justify-content: end;
  margin-top: 13px;
}

.contact__form-buttonSubmit {
  border: 0px;
  border-radius: 7px;
  padding: 13px;
  width: 100%;
  height: 100%;
  color: $textColor;
  background-color: $button-color;
  font-size: 16px;
  font-family: $font-familyTextBold;
}

#message {
  height: 30vh;
}

textarea {
  width: 100%;
  resize: none;
  border-radius: 0%;
  border-color: $textArea;
}

.header__contact {
  max-height: 366px;
  background-color: $headerColor;
}

.header__contact-title {
  display: grid;
  justify-content: center;
  align-content: start;
  margin-bottom: 70px;
  color: $textColor;
  font-size: 80px;
  text-transform: uppercase;
  font-family: $font-familyTextBold;
}

.nav__contact {
  margin-bottom: 50px;
}

@media all and (max-width: 1467px) {
  .main__group-first {
    margin-top: 0px;
  }

  .main__group-first::before,
  .main__group-second::before {
    display: none;
  }

  .main__group {
    display: grid;
    grid-template-rows: 45vh 10vh 45vh;
  }
}

@media all and (max-width: 1271px) {
  .main__group {
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 1fr 60vh 1fr 45vh;
  }

  .main__group-firstPhoto {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
  }

  .main__group-secondPhoto {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .main__group-first {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    align-content: space-around;
    margin-bottom: 30px;
  }

  .main__group-second {
    display: grid;
    grid-row: 6/7;
    grid-column: 2/3;
    text-align: center;
    align-items: center;
  }

  .first-group__subtitle {
    text-align: center;
    max-width: fit-content;
  }

  .main__group-second {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  .second-group__title {
    text-align: center;
    max-width: fit-content;
  }

  .second-group__subtitle {
    text-align: center;
    max-width: fit-content;
  }
}

@media all and (max-width: 1024px) {
  .nav__list {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: $textColor;
  }

  .footer {
    padding: 4%;
    height: max-content;
  }

  .container__footer {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 60vw 1fr;
    padding: 4%;
  }

  .footer__section:nth-child(2) {
    display: none;
  }

  .footer__section:last-child {
    display: none;
  }

  .rooms__price-button {
    height: 100%;
    width: 100%;
  }

  .rooms__details-price {
    display: flex;
    justify-content: space-between;
    padding: 5% 15px 0 15px;
  }
}

@media all and (max-width: 767px) {
  .header__title-secondLine {
    font-size: 80px;
  }

  .header__contact-title {
    font-size: 60px;
  }

  .footer {
    height: min-content;
  }

  .container__footer {
    display: flex;
    justify-content: center;
    font-size: 8px;
  }

  .footer__section:first-child {
    display: none;
  }

  .footer__section:nth-child(2) {
    display: none;
  }

  .footer__section:last-child {
    display: none;
  }

  .contact {
    grid-template-columns: 4vw 1fr 4vw;
    grid-template-rows: auto;
  }

  .contact__description {
    grid-row: 1/2;
    grid-column: 2/3;
    align-content: start;
  }

  .contact__description-title {
    margin-top: 3vh;
    font-size: 38px;
  }

  .contact__description-text {
    margin-top: 0;
    font-size: 20px;
  }

  .contact__our {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100vw;
    margin-top: 3vh;
    font-size: 23px;
  }

  .contact__our-map {
    display: none;
  }

  .contact__our-map img {
    display: none;
  }

  .contact__form {
    grid-row: 3/4;
    grid-column: 2/3;
    width: 90vw;
    margin-top: 3vh;
    justify-self: start;
    font-size: 19px;
  }

  .text__facilities {
    font-size: 2rem;
  }

  .image__label {
    grid-area: 1 / 1 / 4 / 4;
    font-size: 2rem;
  }

  .main__container-facilities {
    display: grid;
    justify-content: center;
    grid-template-columns: 95vw;
    grid-row-gap: 5px;
  }

  .text__testimonials {
    line-height: 1.2;
    padding: 5px;
  }

  .first__room-header {
    font-size: 1rem;
  }

  .singleroom__title,
  .doubleroom__title,
  .twinroom__title,
  .rooms__details-price {
    grid-area: 1 / 1 / 4 / 4;
    font-size: 2rem;
  }

  .main__container-rooms {
    display: grid;
    justify-content: center;
    grid-template-columns: 95vw;
    grid-row-gap: 5px;
  }

  .rooms__price-button {
    height: 100%;
    width: 100%;
  }

  .rooms__details-view {
    font-size: 20px;
  }

}

@media all and (max-width: 630px) {
  .main__group {
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 1fr 70vh 1fr 60vh;
  }

  .main__group-second {
    margin-bottom: 70px;
  }
}

@media all and (max-width: 576px) {
  .header__title-secondLine {
    font-size: 70px;
  }

  .header__title-firstLine,
  .header__title-thirdLine {
    font-size: 40px;
  }

  .header__logo {
    width: 100px;
    height: 100px;
  }

  .header__contact-title {
    font-size: 40px;
  }

  .text__facilities {
    font-size: 2.1rem;
  }

  .image__label {
    grid-area: 1 / 1 / 4 / 4;
    font-size: 1.6rem;
  }

  .main__container-facilities {
    display: grid;
    grid-template-columns: 98vw;
    grid-row-gap: 0%;
  }

  .text__testimonials {
    line-height: 1;
    padding: 5px;
  }

  .first__room-header {
    font-size: 2rem;
    padding-left: 10%;
  }

  .singleroom__title,
  .doubleroom__title,
  .twinroom__title,
  .rooms__details-price {
    grid-area: 1 / 1 / 4 / 4;
    font-size: 1.6rem;
  }

  .main__container-rooms {
    display: grid;
    grid-template-columns: 98vw;
    grid-row-gap: 0%;
  }

  .rooms__details-price {
    font-size: 0.5rem;
  }

  .rooms__price-button {
    font-size: 0.8rem;
  }

  .rooms__price-bar {
    padding-right: 10%;
  }

  .rooms__details-view {
    font-size: 15px;
  }

}
